* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Avenir-Next-Font";
  src: url("/Avenir-Next-Font/Avenir-Next-Font/AvenirNextLTPro-Bold.otf");
  src: url("/Avenir-Next-Font/Avenir-Next-Font/AvenirNextLTPro-BoldCn.otf");
  src: url("/Avenir-Next-Font/Avenir-Next-Font/AvenirNextLTPro-Demi.otf");
  src: url("/Avenir-Next-Font/Avenir-Next-Font/AvenirNextLTPro-DemiCn.otf");
  src: url("/Avenir-Next-Font/Avenir-Next-Font/AvenirNextLTPro-It.otf");
  src: url("/Avenir-Next-Font/Avenir-Next-Font/AvenirNextLTPro-Regular.otf");
}
.container {
  background: url(/images/1920-2.png) no-repeat center fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 40px;
}
.container header img {
  width: 63.4px;
  height: 50.15px;
}

.container .content {
  width: 33%;
  align-items: center;
}
.container .content .header1 p {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 70px;
  font-size: 40px;
  letter-spacing: 10px;
  word-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 1px #ffdf00;
}

.container .content .header2 p {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
}
.container .content .text1 p {
  font-family: sans-serif;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
}
.container .content .sub-text p {
  font-family: sans-serif;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
}
.container .content .text2 p {
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;
}
.container .subscribe {
  margin-top: 10px;
}
.container .subscribe .email {
  outline-style: unset;
  color: #fff;
  border-radius: 10px;
  width: 290px;
  padding: 5px;
  background: none;
  border: 1px solid #fff;
}
.container .subscribe .btn {
  outline-style: unset;
  border-radius: 10px;
  width: 100px;
  margin-left: 10px;
  background-color: #ffdf00;
  padding: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#timer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.time {
  font-size: 40px;
}
#days {
  color: #db4844;
}
#hours {
  color: #f07c22;
}
#minutes {
  color: #f6da74;
}
#seconds {
  color: #abcd58;
}
span {
  display: block;
  width: 80px;
  text-align: center;
  font-size: 20px;
}
.time {
  border: 1px yellow solid;
  margin: 0 5px;
  padding: 5px;
}
#demo {
  color: #db4844;
  font-size: 50px;
}
footer {
  margin-top: 70px;
}
footer ul {
  display: flex;
}
footer ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  filter: invert(100%);
}
footer ul li {
  list-style: none;
}
footer ul li a .behance {
  width: 35px;
  height: 25px;
}
footer ul li a .youtube {
  width: 30px;
  height: 25px;
}
footer ul li .whatsapp {
  margin-left: 100px;
  margin-right: 10px;
}
footer ul li .mail {
  margin-left: 100px;
  margin-right: 10px;
}
footer ul li img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}
